{%extends 'base.html'%}
{% block content%}
{% include './search_form.html'%}
{% for object in objects%}
<div class="media">
    <div class="media-left">
        {% if object.image %}
        <img class="align-self-start mr-3" src="..." alt="Generic placeholder image">
        {% endif %}
    </div>
    <div class="media-body mb-4">
        {{object.content}}<br>
        via {{object.user}} | {{object.timestamp}} ago | <a href="{%url 'tweet_update' object.pk %}">View</a>
    </div>
</div>
{% empty %}
    Tweets not found
{% endfor %}
{% endblock %}
